* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;  
}

body {
    padding: 0px;
    font-family: Paprika, sans-serif;
    height: 100vh; 
    min-width: 400px;
}

.container_cenik {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.container_o_nas {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.container_hygiena {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.container_kontakt {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.container_jak_se_objednat {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00578D;
    color: white;
    width: 100%;
    height: 120px;
}

.logo1 {
    font-size: 48px;
    font-weight: 900;
    margin-right: 0px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    color: black;
}

.logo2{
    font-size: 48px;
    font-weight: 900;
    margin-left: 0px;
    margin-right: auto;
    border-radius: 15%;
    display: flex;
    align-items: center;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00578D;
    margin-right: 10px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0px;

}

.menu li {
    margin: 0px;
    padding: 20px 5PX;
}

.menu a {
    text-decoration: none;
    font-size: 21px;
    border-radius: 15%;
    padding: 10px;
    display: block;

}

.menu-toggle {
    display: none;
    cursor: pointer;
    background-color: white;
    padding: 15px;
    border-radius: 15%;
    margin-right: 40px;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: #00578D;

} 

@media (max-width: 1000px) {
    .menu {
        display: none;
        width: 300px;
        flex-direction: column;
        background-color: #00578D;
        position: absolute;
        top: 90px;
        right: 0px;
        padding: 10px 0px;
        border-style: solid;
        border-color: black;
        border-radius: 3%;
        border-width: 4px;
    }

    .menu.active {
        display: flex !important;
        gap: 0px;
        margin-right: 20px;
        
    }

    .menu li {
        text-align: center;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }
}


.container_cenik .part1 {
    background-color: #00578D;
    margin-top: 0px;
    width: 100%;
    padding: 40px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cenik .part1 .text {
   max-width: 850px;
   font-size: 18px;
} 

.cointainer_cenik .part2 ul {
    width: 120%;
}

.part2 li {
    border-bottom: 3px solid #0093C2;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.left {
    text-align: left; 
    margin-left: 0px;
    margin-right: 20px;
}

.right {
    text-align: right; 
    margin-right: 0px;
}

.container_o_nas {
    display: flex;
    flex-direction: column;
}


.container_o_nas img {
    max-width: 600px;
    max-height: 348px;
    border-radius: 5%;
    margin: 15px;
    width: 100%;
    height: auto;
    
}

.container_o_nas .nadpis {
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.container_o_nas .part1 {
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_o_nas .part1text1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 2;
    font-size: 18px;
}

@media (max-width:1100px) {
    .container_o_nas .part1 {
        flex-direction: column;
        align-items: center;
    }
    .cointainer_o_nas .part1text1 {
        text-align: center;
        padding: 10px;
    }
}


.container_o_nas .part2, .part4, .part6 {
    background-color: #E5E7EB;
    padding: 50px;
    line-height: 2;
    font-size: 18px;
}

.container_o_nas .part3, .part5 {
    background-color: white;
    padding: 50px;
    line-height: 2;
    font-size: 18px;
}

.container_o_nas .text {
    margin-left: 250px;
    margin-right: 250px;
}

.footer {
    background-color: #00578D;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}

